*.pyc
__pycache__/
*.log
.env
*.swp
*.DS_Store
*.db
*.bak

# Docker volumes and local data
data/
home/
*.pid
*.sock
*.zip

# Odoo-specific
addons17/
addons-enterprise/
addons-private/
config/odoo.conf
